<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/adb2b058-3543-430a-9778-eb8aa6d5bca8/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/ConsaludApiRest20240307102827</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <ApiResourceId>/subscriptions/adb2b058-3543-430a-9778-eb8aa6d5bca8/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ApiManagement/service/webapi-consalud/apis/ConsaludApiRest</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://consaludapirest20240307102827.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c3184633-95e7-41b5-bbcf-827373dd417a</ProjectGuid>
    <MSDeployServiceURL>consaludapirest20240307102827.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConsaludApiRest20240307102827</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ConsaludApiRest20240307102827</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>